/*====================================================
Styles
====================================================*/

.bil-container {
	position: relative;
	overflow: hidden;

	.bil-blurred {
		overflow:hidden;
		background-size:100%;
		background-position:0 0;
		background-repeat:no-repeat;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		opacity:1;
		-webkit-transition: opacity 0.2s linear;
		-moz-transition: opacity 0.2s linear;
		-ms-transition: opacity 0.2s linear;
		-o-transition: opacity 0.2s linear;
		transition: opacity 0.2s linear;

		max-width:100%;

		&.bil-fadeout {
			opacity:0;
		}
	}

	.bil-full-size {
		-webkit-transition: opacity 0.2s linear;
		-moz-transition: opacity 0.2s linear;
		-ms-transition: opacity 0.2s linear;
		-o-transition: opacity 0.2s linear;
		transition: opacity 0.2s linear;
		position:absolute;
		opacity: 0;
		top:0px;
		left:0px;
		z-index:-1;

		// Show once loaded
		&.bil-loaded {
			opacity: 1;
			z-index:1;
		}

		// Reposition
		&.bil-in-position {
			position: inherit;
			top:0;
			left:0;
		}
	}

	&.bil-figure {
		position: relative;
		padding:1%;
		img {
			max-width:100%;
		}
	}

}